div.imagery {
  /*border:4px solid white;*/
  margin: 0 2px 2px 4px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}
div.clearLeft {
   border-left-width:0!important;
}
a.fileinput-button,
span.fileinput-button {
    margin: 12px 12px 12px 0;
}
div#images-container-container {
    position:relative;
    margin:0 auto;
    padding:0 10px;
    width:100%;
    height:auto;
    overflow: hidden;
    border: 10px solid lightgray;
}
div#images-container {
    width:102%;
}
.clearLeft {
    clear: left!important;
}
div.tile-element {
    border-color: red;
    border-left: 5px solid white;
    border-top: 5px solid white;
}
div.tile-element: nth-child(n-1){
}
div.tile-element:first-child {
    border-left:none!important;
}


.spinner {
    display: inline-block;
    opacity: 0;
    max-width: 50px;

    -webkit-transition: opacity 0.25s, max-width 0.45s; 
    -moz-transition: opacity 0.25s, max-width 0.45s;
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s; 
}

.has-spinner.active {
    cursor:progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    max-width: 50px; /*notice that this affects on animation duration */
}

